// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.u-nombre {
		width: 200px;
	border: 1px solid black;
	font-size: 13px;
}